[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ANCOMBC"]
	path = ANCOMBC
	url = https://github.com/frederickhuanglin/ancombc
